{% extends "./main.twig" %}

{% block head_content %}
	{{ parent() }}
	{% include "partials/_microdata_post.twig" %}
{% endblock %}

{% block main_content %}
	<article class="post">
		<header class="post__header">
			<h1>{{title}}</h1>
			<section class="post__header__actions">
				{% if meta.devto %}
					<a class="link--devto" href="{{meta.devto}}" target="_blank">Read on
						<img alt="dev.to logo" src="https://d2fltix0v2e0sb.cloudfront.net/dev-black.png"/></a>
				{% endif %}
			</section>
		</header>


		<details>
			<summary>About this post</summary>
			<dl>
				<dt>Written:</dt>
				<dd>
					<time datetime="{{meta.date|date("Y-m-d H:i")}}">{{meta.date|date("m/d/Y")}}</time>

				</dd>
				{% if meta.update %}
					<dt>Last update:</dt>
					<dd>
						<time datetime="{{meta.update|date("Y-m-d H:i")}}">{{meta.update|date("m/d/Y")}}</time>


					</dd>
				{% endif %}
			</dl>
		</details>


		{{content}}

		<footer>
			<section id="webmentions"></section>
		</footer>
	</article>
{% endblock %}
