<!DOCTYPE html>
<html lang="de">
    <head>
        <title>{{ title }}</title>
        <meta charset="utf-8"/>
    </head>
    <body>
        <header>
            <a href="{{base_url}}">Home</a>
        </header>
        <main>
            {{ content }}
            {% for site in sites %}
                <li><a href="{{site.url.href}}">{{site.title}}</a></li>
            {% endfor %}
        </main>
        {% block after_content %}{% endblock %}
    </body>
</html>